html,
body {
	min-height: 100vh;
}

body {
	background-color: #222222;
	color: #fff;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.display-4 {
	font-size: clamp(18px, 10vw, 56px);
}
.container .h4 {
	font-size: clamp(14px, 5vw, 24px);
}
.aside {
	height: 400px;
}
.main {
	height: 400px;
}
.d-flex {
	display: flex;
}
.task-title {
	font-weight: 400;
	padding-top: 5px;
}
.gray {
	color: #bdbdbd;
}
.task-title--done {
	text-decoration: line-through;
	color: #393939;
}
.task-item__buttons {
	display: flex;
	column-gap: 5px;
}
.notify-holder {
	height: 60px;
	margin-bottom: 20px;
}
.empty-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
}
.empty-list__title {
	font-size: clamp(16px, 5vw, 28px);
	margin-bottom: 15px;
	font-weight: 300;
}
.empty-list__icon {
	color: #42be2a;
	font-size: 32px;
}
.card {
	border: 1px solid rgba(122, 116, 116, 0.125);
	border-radius: 10px;
	background: transparent;
}
.card-header {
	border-bottom: 1px solid rgba(122, 116, 116, 0.125);
}
#tasksList {
	border: 1px solid #1f1f1f;
	border-radius: 30px;
}
.list-group-item {
	background: rgba(0, 0, 0, 0.75);
	/* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
	/* backdrop-filter: blur(11px); */
	/* -webkit-backdrop-filter: blur(11px); */
	border-radius: 10px;
	border: 0px solid rgba(255, 255, 255, 0.18);
	margin-bottom: 1px;
}
.btn-action {
	background-color: #e0e5ea;
	padding: 8px 10px;
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	transition: opacity 0.2s ease-in;
	opacity: 0.5;

	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-action:hover {
	background-color: #e0e5ea;
	opacity: 1;
}

.btn-action img {
	pointer-events: none;
}

.none {
	display: none !important;
}

.float-right {
	float: right;
}
.copyright {
	margin-top: 40px;
	font-size: 14px;
	color: gray;
	text-align: center;
	margin-bottom: 30px;
}
