:root {
	--main-color: #222222;
	--light-color: #e0e5ea;
	--grey-color: #7d91a2;
	--done-color: #393939;
	--border-color: rgba(122, 116, 116, 0.125);
}
html,
body {
	min-height: 100vh;
}
body {
	background-color: var(--main-color);
	color: var(--light-color);
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.display-4 {
	font-size: clamp(18px, 10vw, 56px);
}
.container .h4 {
	font-size: clamp(14px, 5vw, 24px);
}
.aside {
	height: 400px;
}
.main {
	height: 400px;
}
.d-flex {
	display: flex;
}
.task-title {
	font-weight: 400;
	padding-top: 5px;
}
.gray {
	color: #bdbdbd;
}
.task-title--done {
	text-decoration: line-through;
	color: var(--done-color);
}
.task-item__buttons {
	display: flex;
	column-gap: 5px;
}
.notify-holder {
	height: 60px;
	margin-bottom: 20px;
}
.empty-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
}
.empty-list__title {
	font-size: clamp(16px, 5vw, 28px);
	margin-bottom: 15px;
	font-weight: 300;
}
.empty-list__icon {
	color: #42be2a;
	font-size: 32px;
}
.card {
	border: 1px solid var(--border-color);
	border-radius: 5px;
	background: transparent;
}
.card-header {
	color: var(--grey-color);
	border-bottom: 0.5px solid var(--border-color);
}
.list-group-item {
	background: rgba(0, 0, 0, 0.75);
	margin-bottom: 1px;
}
.btn-action {
	background-color: var(--light-color);
	padding: 8px 10px;
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	transition: opacity 0.2s ease-in;
	opacity: 0.5;

	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-action:hover {
	background-color: var(--light-color);
	opacity: 1;
}
.btn-action img {
	pointer-events: none;
}
.none {
	display: none !important;
}
.float-right {
	float: right;
}
